# Python
__pycache__
*.py[cod]

#IDE
.vscode

# Unit test
.coverage

# Documentation
docs

# Logs
logs

# Translations
*.mo

# SQLite databases
*.sqlite
*.db

# Environment files
.env